.top{
    margin:0 auto;
}

body{
    background-size: cover;
    background-image: url("../image/DSC_0409.JPG"); 
}

#myCanvas {
    display: inline-block;
    border:1px solid #c96969;
    margin: 0 auto;
    align-content: center;
}

.mid{
    text-align: center;
}

.BD{
    width: auto;
}

a {
    background: #69c;
    color: #fff;
    padding: 5px 10px;
}   

.tt{
    height: 20px;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#showColor{
    width: 610px;
    height: 30px;
    background-color: black;
}

input{
    display: inline-block;
}

input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}   

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; 
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; 
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; 
    background: #ffffff; 
    border-radius: 50%; 
    border: solid 0.125em rgba(205, 224, 230, 0.5); 
    box-shadow: 0 .125em .125em #3b4547;
}
#topIn{
    text-align: center;
}

#textbar{
    width: 130px;
}

.btncls{
    background-color:#B80C4D;
    border: #2e6da4;
  	font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
	font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: normal;
    
    border-radius: 4px;
    line-height: 1.5;
    text-decoration:none;
}
.btncls:hover{
    background-color:#F773A5;
    border: #2e6da4;
  	font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
	font-size: 15px;
    color: #000;
    letter-spacing: 1px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: normal;
    
    border-radius: 4px;
    line-height: 1.5;
    text-decoration:none;
}